In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn import preprocessing

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [2]:
titanic_path = '../input/spaceship-titanic/train.csv'
titanic = pd.read_csv(titanic_path)
titanic

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
titanic.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8514.000000,8512.000000,8510.000000,8485.000000,8510.000000,8505.000000
mean,28.827930,224.687617,458.077203,173.729169,311.138778,304.854791
std,14.489021,666.717663,1611.489240,604.696458,1136.705535,1145.717189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,47.000000,76.000000,27.000000,59.000000,46.000000
max,79.000000,14327.000000,29813.000000,23492.000000,22408.000000,24133.000000

In [4]:
titanic.shape

(8693, 14)

In [5]:
titanic.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
Titanic_data=titanic.dropna()
Titanic_data.shape

(6606, 14)

In [7]:
Titanic_data.isnull().sum()

PassengerId     0
HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Name            0
Transported     0
dtype: int64

In [8]:

Titanic_data['Age']=Titanic_data['Age'].astype(int)
Titanic_data['Transported']=Titanic_data['Transported'].astype(int)
Titanic_data.dtypes

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age               int64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported       int64
dtype: object

In [9]:
Titanic_data[['Group','people in Group']]=Titanic_data['PassengerId'].str.split('_',expand=True)
Titanic_data[['Deck','Num','Side']]=(Titanic_data['Cabin'].str.split('/',expand=True))
Titanic_data['Rich']= Titanic_data['RoomService']+Titanic_data['FoodCourt']+Titanic_data['ShoppingMall']+Titanic_data['Spa']+Titanic_data['VRDeck']
Titanic_data

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,Group,people in Group,Deck,Num,Side,Rich
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,0,0001,01,B,0,P,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,1,0002,01,F,0,S,736.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,0,0003,01,A,0,S,10383.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,0,0003,02,A,0,S,5176.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,1,0004,01,F,1,S,1091.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,0,9276,01,A,98,P,8536.0
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,0,9278,01,G,1499,S,0.0
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,1,9279,01,G,1500,S,1873.0
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,0,9280,01,E,608,S,4637.0
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,1,9280,02,E,608,S,4826.0

In [10]:
Titanic_data['Group'].value_counts()

4256    8
9157    7
3850    7
4498    7
4176    7
       ..
3504    1
3506    1
3511    1
3512    1
4634    1
Name: Group, Length: 5015, dtype: int64

In [11]:
Titanic_data['people in Group'].value_counts()

01    4734
02    1062
03     432
04     178
05      99
06      60
07      29
08      12
Name: people in Group, dtype: int64

In [12]:
Titanic_data['people in Group'].unique()

array(['01', '02', '03', '04', '06', '05', '07', '08'], dtype=object)

In [13]:
Titanic_data['Deck'].value_counts()

F    2152
G    1973
E     683
B     628
C     587
D     374
A     207
T       2
Name: Deck, dtype: int64

In [14]:
Titanic_data['Side'].value_counts()

S    3345
P    3261
Name: Side, dtype: int64

In [15]:
Titanic_data.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Rich
count,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000
mean,28.894036,222.991674,478.958523,178.356494,313.161520,303.780048,0.503633,1497.248259
std,14.533429,644.987936,1678.592291,576.328407,1144.016291,1127.142166,0.500025,2860.618493
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,739.000000
75%,38.000000,49.000000,82.750000,30.000000,65.000000,52.000000,1.000000,1513.750000
max,79.000000,9920.000000,29813.000000,12253.000000,22408.000000,20336.000000,1.000000,35987.000000

In [16]:
Titanic_data.groupby(['Side'])['Transported'].value_counts(normalize=True)

Side  Transported
P     0              0.550138
      1              0.449862
S     1              0.556054
      0              0.443946
Name: Transported, dtype: float64

In [17]:
Titanic_data.loc[(Titanic_data['Age']<19),'age_group']='<19'
Titanic_data.loc[(Titanic_data['Age']>=19)&(Titanic_data['Age']<27),'age_group']='19-27'
Titanic_data.loc[(Titanic_data['Age']>=27)&(Titanic_data['Age']<38),'age_group']='27-38'
Titanic_data.loc[(Titanic_data['Age']>=38),'age_group']='>38'
Titanic_data.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,VRDeck,Name,Transported,Group,people in Group,Deck,Num,Side,Rich,age_group
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39,False,0.0,0.0,0.0,...,0.0,Maham Ofracculy,0,0001,01,B,0,P,0.0,>38
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24,False,109.0,9.0,25.0,...,44.0,Juanna Vines,1,0002,01,F,0,S,736.0,19-27
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58,True,43.0,3576.0,0.0,...,49.0,Altark Susent,0,0003,01,A,0,S,10383.0,>38
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33,False,0.0,1283.0,371.0,...,193.0,Solam Susent,0,0003,02,A,0,S,5176.0,27-38
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16,False,303.0,70.0,151.0,...,2.0,Willy Santantines,1,0004,01,F,1,S,1091.0,<19

In [18]:
Titanic_data['age_group'].value_counts()

19-27    1773
27-38    1701
>38      1687
<19      1445
Name: age_group, dtype: int64

In [19]:
Titanic_data['Num'].value_counts()

82      22
97      19
56      19
176     18
65      17
        ..
759      1
832      1
1554     1
663      1
878      1
Name: Num, Length: 1734, dtype: int64

In [20]:
Titanic_data.groupby(['Num'])['Transported'].value_counts(normalize=True)

Num  Transported
0    0              0.583333
     1              0.416667
1    1              0.750000
     0              0.250000
10   0              0.500000
                      ...
996  1              1.000000
997  0              1.000000
998  0              0.666667
     1              0.333333
999  1              1.000000
Name: Transported, Length: 2776, dtype: float64

In [21]:
Titanic_data.groupby(['age_group'])['Transported'].value_counts(normalize=True)

age_group  Transported
19-27      0              0.536379
           1              0.463621
27-38      0              0.529688
           1              0.470312
<19        1              0.613149
           0              0.386851
>38        0              0.514523
           1              0.485477
Name: Transported, dtype: float64

61% of people who were less than 19 years old was transported.

In [22]:
Titanic_data.groupby(['people in Group'])['Transported'].value_counts(normalize=True)

people in Group  Transported
01               0              0.524715
                 1              0.475285
02               1              0.558380
                 0              0.441620
03               1              0.597222
                 0              0.402778
04               1              0.640449
                 0              0.359551
05               1              0.565657
                 0              0.434343
06               1              0.550000
                 0              0.450000
07               1              0.586207
                 0              0.413793
08               0              0.500000
                 1              0.500000
Name: Transported, dtype: float64

People who were traveled with 4 people have chance 64 % to be transported.

In [23]:
Titanic_data.groupby(['Deck'])['Transported'].value_counts(normalize=True)

Deck  Transported
A     0              0.512077
      1              0.487923
B     1              0.729299
      0              0.270701
C     1              0.679727
      0              0.320273
D     0              0.577540
      1              0.422460
E     0              0.641288
      1              0.358712
F     0              0.564591
      1              0.435409
G     1              0.521034
      0              0.478966
T     0              0.500000
      1              0.500000
Name: Transported, dtype: float64

In [24]:
Titanic_data.columns

Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported', 'Group', 'people in Group', 'Deck', 'Num',
       'Side', 'Rich', 'age_group'],
      dtype='object')

In [25]:
Feature=Titanic_data[['age_group','Deck','people in Group','Rich']]
Feature.head()

  age_group Deck people in Group     Rich
0       >38    B              01      0.0
1     19-27    F              01    736.0
2       >38    A              01  10383.0
3     27-38    A              02   5176.0
4       <19    F              01   1091.0

In [26]:
Feature['age_group'].replace(to_replace=['<19','19-27','27-38','>38'], value=[1,2,3,4],inplace=True)
Feature.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

   age_group Deck people in Group     Rich
0          4    B              01      0.0
1          2    F              01    736.0
2          4    A              01  10383.0
3          3    A              02   5176.0
4          1    F              01   1091.0

In [27]:
Feature['Deck'].replace(to_replace=['A','B','C','D','E','F','G','T'],value=[1,2,3,4,5,6,7,8],inplace= True)
Feature.head()

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

   age_group  Deck people in Group     Rich
0          4     2              01      0.0
1          2     6              01    736.0
2          4     1              01  10383.0
3          3     1              02   5176.0
4          1     6              01   1091.0

In [28]:
x= Feature
x[0:5]

   age_group  Deck people in Group     Rich
0          4     2              01      0.0
1          2     6              01    736.0
2          4     1              01  10383.0
3          3     1              02   5176.0
4          1     6              01   1091.0

In [29]:
y=Titanic_data['Transported'].values
y[0:5]

array([0, 1, 0, 0, 1])

In [30]:
x= preprocessing.StandardScaler().fit(x).transform(x)
x[0:5]

array([[ 1.32645405, -1.82903018, -0.49016093, -0.52343981],
       [-0.50250764,  0.4020793 , -0.49016093, -0.26613332],
       [ 1.32645405, -2.38680755, -0.49016093,  3.10646959],
       [ 0.41197321, -2.38680755,  0.45828755,  1.28609607],
       [-1.41698849,  0.4020793 , -0.49016093, -0.14202488]])

# K Nearest Neighbor(KNN)

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=4)
print('Train set:',X_train.shape,y_train.shape)
print('Test set:',X_test.shape,y_test.shape)

Train set: (5284, 4) (5284,)
Test set: (1322, 4) (1322,)

In [32]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [33]:
Ks=15
mean_acc=np.zeros((Ks-1))
std_acc=np.zeros((Ks-1))
ConfusionMx=[];
for n in range(1,Ks):
    KNN_model = KNeighborsClassifier(n_neighbors=n).fit(X_train,y_train)
    yhat =KNN_model.predict(X_test)
    mean_acc[n-1]=np.mean(yhat==y_test);
    std_acc[n-1]=np.std(yhat==y_test)/np.sqrt(yhat.shape[0])
mean_acc

array([0.65431165, 0.67776097, 0.7065053 , 0.70499244, 0.72012103,
       0.70877458, 0.70196672, 0.70877458, 0.70423601, 0.7118003 ,
       0.70953101, 0.71860817, 0.70877458, 0.71558245])

In [34]:
print("The best accuracy of KNN:",mean_acc.max(),"with k =",mean_acc.argmax()+1)

The best accuracy of KNN: 0.7201210287443268 with k = 5

# Logistic Regression

In [35]:
from sklearn.linear_model import LogisticRegression
LR= LogisticRegression(C=0.1,solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.1, solver='liblinear')

In [36]:
yhat2 = LR.predict(X_test)
yhat2

array([0, 1, 1, ..., 0, 1, 0])

In [37]:
print("Logistic Regression's accuracy:%.2f"% metrics.accuracy_score(y_test,yhat2))

Logistic Regression's accuracy:0.63